.DS_Store
dist
dist-ssr
*.local

node_modules
.env

# Hardhat files
/cache 

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

yarn.lock
yarn-error.lock
package-lock.json